@{
    ViewData["Title"] = "Principal";
}

<h1>Coletas</h1>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Registro</th>
            <th>Bairro</th>
            <th>Tipo Coleta</th>
            <th>Data/Hora - Coleta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label>#1</label>
            </td>
            <td>
                <label>Vila carrão</label>
            </td>
            <td>
                <label>Reciclável</label>
            </td>
            <td>
                <label>10:00</label>
            </td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
